POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=
DOCKER_DATABASE_URL=
STORAGE_DIR=
DOCKER_STORAGE_DIR=

JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

BACKEND_URL=
FRONTEND_URL=
CORS_ORIGINS=
OAUTHLIB_INSECURE_TRANSPORT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

VITE_SERVER_URL=
VITE_API_PROXY_TARGET=
VITE_WS_PROXY_TARGET=
